<h1>New pacote</h1>

<% form_for(@pacote) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :nome %><br />
    <%= f.text_field :nome %>
  </p>
  <p>
    <%= f.label :quantidade_de_dias %><br />
    <%= f.text_field :quantidade_de_dias %>
  </p>
  <p>
    <%= f.label :valor %><br />
    <%= f.text_field :valor %>
  </p>
  <p>
    <%= f.label :transporte %><br />
    <%= f.text_field :transporte %>
  </p>
  
  <p>
    <%= f.label :descricao %><br />
    <%= f.text_area :descricao %>
  </p>
  
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', pacotes_path %>