<h1>New pacote</h1>

<% form_for(@pacote) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :nome %><br />
    <%= f.text_field :nome %>
  </p>
  <p>
    <%= f.label :quantidade_de_dias %><br />
    <%= f.text_field :quantidade_de_dias %>
  </p>
  <p>
    <%= f.label :valor %><br />
    <%= f.text_field :valor %>
  </p>
  <p>
    <%= f.label :transporte %><br />
    <%= f.text_field :transporte %>
  </p>
  
  <p>
    <%= f.label :descricao %><br />
    <%= f.text_area :descricao %>
  </p>
  
  <p>
    <%= f.label :refeicao, "Refeição" %><br />
    <select<select name="pacote[refeicao]" id="pacote[refeicao]">
      <option>-- Selecione --</option>
      <option value="Somente café">Somente café</option>
      <option value="Café e almoço">Café e almoço</option>
      
    </select>
  </p>
  
  <p>
    <%= f.label :refeicao, "Tipo de locomoção" %><br />
    <select<select name="pacote[locomocao]" id="pacote[locomocao]">
      <option>-- Selecione --</option>
      <option value="Somente café">Guia turístico e ônibus</option>
      <option value="Café e almoço">Somente ônibus</option>
      <option value="Café e almoço">Somente guia</option>
      
    </select>
  </p>
  
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', pacotes_path %>